
.whole-page{
  background-color: rgb(104, 102, 102);
}
body{
  background-color: rgb(48, 47, 47);
  text-align: center;
  justify-content: center;
}
h1, h2, h3, h4, h5, h6, p{
  color: white;
}
.textbox{
  background-color: rgb(48, 47, 47);
  color: white;
  border: 1px solid white;
  border-radius: 5px;
  padding: 5px;
  margin: 5px;
}